<div class="user_show_page">
    <div class="user_show_container">
        <div class="user_content">
            <img src="<%="/user_images/#{@user.image_name}"%>">
            <p class="user_name"><%= @user.name %></p>
            <div class="profile_content">
                <%if @user.duel_id!="" %>
                <p>ID：<%= @user.duel_id%></p>
                <%end%>
                <%if @user.profile!="" %>
                <p>プロフィール：<%= @user.profile%></p>
                <%end%>
                <div class="user_change_btn">
                    <%if @current_user.id==@user.id%>
                    <%= link_to("変更","/users/#{@user.id}/edit") %>
                    <%end%>
                </div>
            </div>
            <div class="post_change_btn">
                <%= link_to("投稿","/users/#{@user.id}") %>
                <%= link_to("いいね一覧","/users/#{@user.id}/likes") %>
            </div>
        </div>

        <div class="user_posts">
            <% if @likes %>
            <% @likes.each do |like| %>
            <% post = Post.find_by(id: like.post_id) %>
            <div class="post_content">
                <div class="post_content_left">
                    <%= link_to image_tag("/user_images/#{post.user.image_name}"), "/users/#{post.user.id}" %>
                </div>
                <div class="post_content_right">
                    <div class="post_user_name">
                        <%= link_to(post.user.name,"/users/#{post.user.id}")%>
                    </div>
                    <%= link_to(post.content,"/posts/#{post.id}") %>
                </div>
                <% if post.image_name %>
                <img src="<%="/post_images/#{post.image_name}"%>" class="post_image">
                <%end%>
            </div>
            <%end%>
            <%end%>
        </div>

        <div class="big_post_image">
            <img src="" class="big_image">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>
        </div>
    </div>
</div>