<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>デュエルマスターズプレイス交流掲示板</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
  <header>
    <ul>
      <% if session[:user_id]==nil %>
      <li><%=link_to("ホーム","/")%></li>
      <li><%=link_to("デュエプレ広場とは","/about")%></li>
      <li><%=link_to("ユーザー登録","/users/new")%></li>
      <li><%=link_to("ログイン","/users/login_form")%></li>
      <%else%>
      <li><%=link_to("#{@current_user.name}","/users/#{@current_user.id}")%></li>
      <li><%=link_to("新規投稿","/posts/new")%></li>
      <li><%=link_to("投稿一覧","/posts/index")%></li>
      <li><%=link_to("ネタデッキ","/posts/enjoydecks")%></li>
      <li><%=link_to("ガチデッキ(マスター帯)","/posts/masterdecks")%></li>
      <li><%=link_to("プレイング考察","/posts/playing")%></li>
      <li><%=link_to("フレンド交流","/posts/friends")%></li>
      <li><%=link_to("大会情報","/posts/cupinformation")%></li>
      <li><%=link_to("ユーザー検索","/users/index")%></li>
      <li><%=link_to("ログアウト","/logout",{method: "posr"})%></li>
      <%end%>
      <span class="fa fa-bars menu-icon"></span>
    </ul>
  </header>
  <% if flash[:notice]%>
  <div class="message">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="menu-page">
    <ul>
      <% if session[:user_id]==nil %>
      <li><%=link_to("ホーム","/")%></li>
      <li><%=link_to("デュエプレ広場とは","/about")%></li>
      <li class="invisible"><%=link_to("ユーザー登録","/users/new")%></li>
      <li class="invisible"><%=link_to("ログイン","/users/login_form")%></li>
      <%else%>
      <li><%=link_to("#{@current_user.name}","/users/#{@current_user.id}")%></li>
      <li><%=link_to("新規投稿","/posts/new")%></li>
      <li><%=link_to("投稿一覧","/posts/index")%></li>
      <li><%=link_to("ネタデッキ","/posts/enjoydecks")%></li>
      <li><%=link_to("ガチデッキ(マスター帯)","/posts/masterdecks")%></li>
      <li><%=link_to("プレイング考察","/posts/playing")%></li>
      <li><%=link_to("フレンド交流","/posts/friends")%></li>
      <li><%=link_to("大会情報","/posts/cupinformation")%></li>

      <li><%=link_to("ユーザー検索","/users/index")%></li>
      <li><%=link_to("ログアウト","/logout",{method: "posr"})%></li>
      <%end%>
    </ul>
  </div>

  <%= yield %>

</body>

</html>